VITE_ASSETS_API=http://127.0.0.1:8030/api
VITE_SEPARATOR_API=http://127.0.0.1:8001/api/audio-processing
VITE_ANALYZER_API=http://127.0.0.1:8010
VITE_AGENT_API=http://127.0.0.1:8020
VITE_GENERATION_API=http://127.0.0.1:8050/api/music-generation
